.card {
  display: flex;
  flex-direction: column;
}

.card__image {
  width: 282px;
  height: 282px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.card__description {
  display: flex;
  background-color: white;
  color: black;
  padding: 25px 20px;
  align-items: center;
  justify-content: space-between;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.card__title {
  max-width: 220px;
  font-size: 24px;
  font-weight: 900;
  line-height: 1.2;
  overflow: hidden;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card__like-button {
  background: transparent url(../images/like\ inactive.svg) center no-repeat;
  width: 21px;
  height: 18px;
  border-style: none;
}

.card__like-button:hover {
  opacity: 0.5;
  transition: 1s linear;
  cursor: pointer;
}
