.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0 19px;
  display: none;
}

.modal_opened {
  display: flex;
}

.modal__container {
  position: relative;
  background-color: white;
  margin: auto;
  border-radius: 10px;
  width: 430px;
  height: 330px;
  box-sizing: border-box;
  padding: 34px 36px 36px;
}

.preview__modal-container {
  position: relative;
  margin: auto;
}

.modal__close {
  background-image: url("../images/Close\ button\ icon.svg");
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  top: -45px;
  right: -45px;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: contain;
}

.modal__close:hover {
  opacity: 0.6;
  transition: 1s linear;
}

.preview__modal-close-button {
  background-image: url("../images/Close\ button\ icon.svg");
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  top: -45px;
  right: -45px;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: contain;
}

.preview__modal-close-button:hover {
  opacity: 0.8;
  transition: 1s linear;
}

.modal__close:hover {
  opacity: 0.6;
  transition: 1s linear;
}

.modal__heading {
  color: black;
  max-width: 330px;
  max-height: 23px;
  font-size: 24px;
  font-weight: 900;
  line-height: 1.2;
  margin: 0;
  padding: 0;
}

.modal__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal__input {
  margin: 54px 0 30px 0;
  height: 27px;
  padding: 0 0 0 5px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 14px;
  line-height: 1.2;
}

.modal__input:last-of-type {
  margin: 0 0 48px;
}

.modal__button {
  height: 50px;
  border-radius: 2px;
  color: white;
  background-color: #000;
  font-size: 18px;
  line-height: 1.1;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.modal__button:hover {
  opacity: 0.8;
  transition: 1s linear;
}

.modal__preview-image {
  max-width: 75vw;
  max-height: 75vh;
}

.modal__preview-title {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2px;
}
@media screen and (max-width: 630px) {
  .modal__container {
    max-width: 282px;
    max-height: 322px;
    padding: 25px 22px 25px;
  }

  .modal__button {
    max-width: 238px;
    max-height: 46px;
  }

  .modal__close {
    top: -56px;
    right: 5px;
    width: 26px;
    height: 26px;
  }

  .modal__button {
    margin: 0;
    font-size: 14px;
    line-height: 1.2;
  }

  .preview__modal-close-button {
    width: 26px;
    height: 26px;
    top: -28px;
    right: -28px;
  }
}

@media screen and (max-width: 520px) {
  .modal__heading {
    max-width: 238px;
    font-size: 18px;
  }

  .modal__input {
    margin: 75px 0 30px 0;
  }

  .modal__input:last-of-type {
    margin: 0 0 45px;
  }
}
